@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {

    /* Farver */
  --color-primary: #E3E0D9; /* beige */
  --color-secondary: #413C36; /* brown-ish */

  /* Typografi */
  --font-sans: 'Europa', sans-serif;
  --font-serif: 'Didot LT Pro', serif;  
}

@layer base {
  /* Standard baggrundsfarve */
  body {
    @apply bg-primary text-secondary font-sans;
  }

  html {
  /* scroll-behavior: smooth; */
}

  h1 {
    font-family: Didot LT Pro, serif;
    font-size: 150px;
    font-weight: 300;
    color: --color-secondary;
    font-style: italic;
  }

  p{
    font-family: 'Europa', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-secondary);
    font-weight: 400;
  }

   @media (min-width: 1028px){
    h1{
      font-size: 500px;
    }

    p{
      font-size: 16px;
      line-height: 20px;
    }
   }

}



@layer utilities {
  /* Tekstfarver */
  .text-primary {
    color: var(--color-secondary);
  } /* sort */
  .text-secondary {
    color: var(--color-primary);
  }

  /* Baggrundsfarver */
  .bg-primary {
    background-color: var(--color-primary);
  } /* beige */
  .bg-secondary {
    background-color: var(--color-secondary);
  } /* brown-ish */


  /* Borders */
  .border-primary {
    border-color: var(--color-secondary);
  } /* brown-ish */

}

