---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Malou from "../components/Malou.astro";
import Formaal from "../components/Formaal.astro";
import Kompetencer from "../components/Kompetencer.astro";
---

<MainLayout title="Digital Ansøgning" />
<main>
  <section class="relative">
    <div class="sticky top-0 z-10 bg-primary">
      <video
        src="/video/kornmark.mp4"
        autoplay
        loop
        muted
        playsinline
        class="w-full max-w-xl mx-auto"></video>
    </div>
    <!-- giver plads til at videoen kan være sticky -->
    <div class="h-[25vh]"></div>
  </section>

  <Malou />
  <Formaal />
  <Kompetencer />
</main>
