<section class="relative h-[1100px]">
  <div class="flex justify-between items-start w-full px-4">
    <h2 class="text-[30px] font-sans font-normal leading-none pt-8">
      uddannelse & <br />arbejde
    </h2>
    <h2 class="text-[65px] font-sans font-normal leading-none pt-8">04</h2>
  </div>

  <div
    class="absolute left-1/2 top-45 -translate-x-1/2 h-216 w-px bg-secondary"
  >
    <!-- Cirkler -->
    <div
      class="absolute w-2 h-2 rounded-full top-8 left-1/2 -translate-x-1/2 bg-secondary"
    >
    </div>
    <div
      class="absolute w-2 h-2 rounded-full top-48 left-1/2 -translate-x-1/2 bg-secondary"
    >
    </div>
    <div
      class="absolute w-2 h-2 rounded-full top-88 left-1/2 -translate-x-1/2 bg-secondary"
    >
    </div>
    <div
      class="absolute w-2 h-2 rounded-full top-128 left-1/2 -translate-x-1/2 bg-secondary"
    >
    </div>
    <div
      class="absolute w-2 h-2 rounded-full top-168 left-1/2 -translate-x-1/2 bg-secondary"
    >
    </div>
    <div
      class="absolute w-2 h-2 rounded-full top-208 left-1/2 -translate-x-1/2 bg-secondary"
    >
    </div>

    <!-- Tekst venstre -->
    <div class="absolute top-1.5 right-3 w-60">
      <p class="text-[12px] text-right">
        2024 - <br />
        Multimediedesign <br />
        Erhvervsakademi København
      </p>
    </div>

    <div class="absolute top-41.5 right-3 w-60">
      <p class="text-[12px] text-right">
        2024 <br />
        Højskole i udlandet <br />
        Maldiverne, Sri Lanka, Bali & Gili Øerne
      </p>
    </div>

    <div class="absolute top-81.5 right-3 w-60">
      <p class="text-[12px] text-right">
        2020 – 2022 <br />
        HF student <br />
        Køge Gymnasium
      </p>
    </div>

    <div class="absolute top-121.5 right-3 w-60">
      <p class="text-[12px] text-right">
        2018 – 2019 <br />
        10. klasse <br />
        Gymnastikefterskolen Stevns
      </p>
    </div>

    <div class="absolute top-161.5 right-3 w-60">
      <p class="text-[12px] text-right">
        2007 – 2018 <br />
        0. - 9. klasse <br />
        Ellemarkskolen, Køge
      </p>
    </div>

    <!-- Tekst højre -->
    <div class="absolute top-1.5 left-3 w-60">
      <p class="text-[12px]">
        2024 – <br />
        Marketing Studentermedhjælper <br />
        Dinesen Floors A/S
      </p>
    </div>

    <div class="absolute top-41.5 left-3 w-60">
      <p class="text-[12px]">
        2023 <br />
        Juleassistance <br />
        Kaffekrukken, Køge
      </p>
    </div>

    <div class="absolute top-81.5 left-3 w-60">
      <p class="text-[12px]">
        2022 – 2023 <br />
        Receptionist <br />
        DreistStorgaard Advokater A/S
      </p>
    </div>

    <div class="absolute top-121.5 left-3 w-60">
      <p class="text-[12px]">
        2021 – 2023 <br />
        Billetsalg & kontrol <br />
        PARKEN Sport & Entertainment
      </p>
    </div>

    <div class="absolute top-161.5 left-3 w-60">
      <p class="text-[12px]">
        2017 – 2018 <br />
        Piccoline <br />
        DreistStorgaard Advokater A/S
      </p>
    </div>

    <div class="absolute top-201.5 left-3 w-60">
      <p class="text-[12px]">
        2016 – 2017 <br />
        Træner <br />
        Gymnastikforeningen Køge Bugt
      </p>
    </div>
  </div>
</section>
<hr class="bg-secondary" />
