---

---

<section class="bg-secondary h-100 lg:h-90">
  <div
    class="text-secondary justify-center flex gap-20 items-center underline pt-5"
  >
    <a href="https://www.instagram.com/malou_mauritzen/">Instagram</a>
    <a href="https://www.linkedin.com/in/malou-holmegaard-mauritzen-b6380b287/"
      >Linkedin</a
    >
  </div>

  <div class="lg:grid lg:grid-cols-2 lg:grid-rows-1 w-full">
    <!-- col-1 row-2 -->
    <div
      class="mt-15 lg:col-start-1 lg:row-start-1 flex flex-col justify-end ml-4"
    >
      <p class="font-bold text-secondary text-[12px] pb-3 lg:text-[16px]">
        Kort og godt
      </p>
      <p class="text-secondary text-[12px] lg:text-[16px]">
        Malou Holmegaard Mauritzen.<br />
        23 år gammel – bor på Østerbro.<br />
        Studerer multimediedesign på EK.<br />
        Stor passion for design.
      </p>
    </div>

    <!-- col-2 row-1 -->
    <div
      class="lg:col-start-2 lg:row-start-1 flex flex-col items-end pr-4 justify-end mb-4"
    >
      <p class="font-bold text-secondary text-[12px] text-right lg:text-[16px]">
        Telefon
      </p>
      <p class="text-secondary text-[12px] lg:text-[16px]">4044 4148</p>
    </div>

    <!-- col-2 row-2 -->
    <div
      class="lg:col-start-2 lg:row-start-2 flex flex-col items-end pr-4 justify-end"
    >
      <p class="font-bold text-secondary text-[12px] text-right lg:text-[16px]">
        E-mail
      </p>
      <p class="text-secondary text-[12px] lg:text-[16px]">
        malou.mauritzen2002@gmail.com
      </p>
    </div>
  </div>

  <div class="w-full h-[1px] bg-primary mt-10 lg:mt-10"></div>

  <div class="relative">
    <p
      class="absolute top-4 left-1/2 -translate-x-1/2 text-secondary text-[8px] text-center font-normal lg:text-[12px]"
    >
      MALOU MAURITZEN
    </p>
    <hr
      class="absolute left-1/2 top-10 -translate-x-1/2 w-18 h-0.5 bg-primary lg:w-27"
    />
  </div>
</section>
