---

---

<section class="bg-secondary h-110">
  <div
    class="text-secondary justify-center flex gap-20 items-center underline pt-5"
  >
    <a href="https://www.instagram.com/malou_mauritzen/">Instagram</a>
    <a href="https://www.linkedin.com/in/malou-holmegaard-mauritzen-b6380b287/"
      >Linkedin</a
    >
  </div>

  <div class="mt-20 ml-4">
    <p class="font-bold text-secondary text-[12px] pb-3">Kort og godt</p>
    <p class="text-secondary text-[12px]">
      Malou Holmegaard Mauritzen. <br />23 år gammel – bor på Østerbro. <br
      />Studerer multimediedesign på EK. <br />Stor passion for design.
    </p>
  </div>

  <div class="flex flex-col items-end pr-4 mt-5">
    <p class="font-bold text-secondary text-[12px] text-right">Telefon</p>
    <p class="text-secondary text-[12px]">4044 4148</p>
  </div>

  <div class="flex flex-col items-end pr-4 mt-5">
    <p class="font-bold text-secondary text-[12px] text-right">E-mail</p>
    <p class="text-secondary text-[12px]">malou.mauritzen2002@gmail.com</p>
  </div>

  <div class="w-full h-[1px] bg-primary mt-10"></div>

  <div class="relative">
    <p
      class="absolute top-4 left-1/2 -translate-x-1/2 text-secondary text-[8px] text-center font-normal md:text-5xl"
    >
      MALOU MAURITZEN
    </p>
    <hr
      class="absolute left-1/2 top-9 -translate-x-1/2 w-18 h-0.5 bg-primary"
    />
  </div>
</section>
