<section class="bg-secondary text-secondary">
  <div class="flex justify-between items-start w-full px-4">
    <h2 class="text-[48px] font-sans font-normal leading-none pt-11">formål</h2>
    <h2 class="text-[65px] font-sans font-normal leading-none pt-8">02</h2>
  </div>

  <div class="grid grid-cols-2 py-20">
    <img src="/img/Gulv.jpg" alt="Billede af trægulv" class="w-auto h-70" />
    <div>
      <p class="text-sm leading-relaxed">
        På 4. semester af multimediedesignuddannelsen skal jeg i 10 ugers
        praktik. Praktikforløbet giver mig som studerende en unik mulighed for
        at afprøve mine kompetencer i praksis og få erfaring med det fagområde,
        jeg brænder for. <br /><br />Samtidig giver det jer som virksomhed en
        mulighed for at vise mig, hvordan I arbejder i hverdagen, og hvad der
        driver jeres felt. <br /><br />Jeg glæder mig til at lære mere, og
        udvikle mig fagligt såvel som personligt.
      </p>
    </div>
  </div>
</section>
