---
import Tilbage from "./Tilbage.astro";
---

<section class="bg-primary grid grid-cols-2 data-intersect">
  <!-- Venstre kolonne -->
  <div>
    <h1 class="leading-none ml-8 pt-3 lg:ml-25 lg:mt-25 lg:h-100">M</h1>

    <div>
      <Tilbage />
    </div>
    <div class="max-w-4/5 ml-4 lg:ml-12 lg:max-w-3/6 lg:mt-15">
      <ul class="text-[12px] lg:text-[16px]">
        <li
          class="flex justify-between items-center border-b border-secondary py-2"
        >
          <a
            href="#malou"
            class="flex justify-between w-full transition-colors duration-300 hover:text-[#A69D91]"
          >
            <span>malou mauritzen</span>
            <span>01</span>
          </a>
        </li>
        <li
          class="flex justify-between items-center border-b border-secondary py-2"
        >
          <a
            href="#formål"
            class="flex justify-between w-full transition-colors duration-300 hover:text-[#A69D91]"
          >
            <span>formål</span>
            <span>02</span>
          </a>
        </li>
        <li
          class="flex justify-between items-center border-b border-secondary py-2"
        >
          <a
            href="#kompetencer"
            class="flex justify-between w-full transition-colors duration-300 hover:text-[#A69D91]"
          >
            <span>it kompetencer</span>
            <span>03</span>
          </a>
        </li>
        <li
          class="flex justify-between items-center border-b border-secondary py-2"
        >
          <a
            href="#cv"
            class="flex justify-between w-full transition-colors duration-300 hover:text-[#A69D91]"
          >
            <span>uddannelse & arbejde</span>
            <span>04</span>
          </a>
        </li>
        <li
          class="flex justify-between items-center border-b border-secondary py-2"
        >
          <a
            href="#kontakt"
            class="flex justify-between w-full transition-colors duration-300 hover:text-[#A69D91]"
          >
            <span>kontakt</span>
            <span>05</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Højre kolonne -->
  <div
    class="relative flex items-center justify-center w-full h-87 bg-secondary lg:h-207"
  >
    <div class="lg:grid lg:grid-cols-3 lg:grid-rows-2 lg:gap-x-4 lg:gap-y-4">
      <img
        src="/img/Moon.jpg"
        alt="Himmel med måne"
        class="hidden lg:block lg:w-auto lg:h-60"
      />
      <img
        src="/img/Klitter.jpg"
        alt="Havet og klitter"
        class="hidden lg:block lg:w-auto lg:h-60"
      />
      <img
        src="/img/Ring.jpg"
        alt="Hånd med ring"
        class="w-4/5 max-w-[500px] h-auto mx-auto lg:w-auto lg:h-60"
      />
      <img
        src="/img/Bukser.jpg"
        alt="Iført blondebukser"
        class="hidden lg:block lg:w-auto lg:h-60"
      />
      <img
        src="/img/Havet.jpg"
        alt="Havet"
        class="hidden lg:block lg:w-auto lg:h-60"
      />
      <img
        src="/img/Ski.jpg"
        alt="Skiferie"
        class="hidden lg:block lg:w-auto lg:h-60"
      />
    </div>

    <p
      class="absolute top-3 text-secondary text-[8px] text-center font-normal md:text-[12px]"
    >
      MALOU MAURITZEN
    </p>
    <hr
      class="absolute left-1/2 top-7 -translate-x-1/2 w-18 h-0.5 bg-primary lg:w-27 lg:top-8"
    />
  </div>
</section>
