<section class="bg-primary grid grid-cols-2 md:h-screen">
  <!-- Venstre kolonne -->
  <div>
    <p
      class="font-serif italic text-[150px] text-primary leading-none font-light ml-4"
    >
      M
    </p>

    <div class="max-w-4/5 ml-4">
      <ul class="text-[12px]">
        <li
          class="flex justify-between items-center border-b border-secondary py-2"
        >
          <a href="#malou" class="flex justify-between w-full">
            <span>malou mauritzen</span>
            <span>01</span>
          </a>
        </li>
        <li
          class="flex justify-between items-center border-b border-secondary py-2"
        >
          <a href="#formål" class="flex justify-between w-full">
            <span>formål</span>
            <span>02</span>
          </a>
        </li>
        <li
          class="flex justify-between items-center border-b border-secondary py-2"
        >
          <a href="#kompetencer" class="flex justify-between w-full">
            <span>it kompetencer</span>
            <span>03</span>
          </a>
        </li>
        <li
          class="flex justify-between items-center border-b border-secondary py-2"
        >
          <a href="#cv" class="flex justify-between w-full">
            <span>uddannelse & arbejde</span>
            <span>04</span>
          </a>
        </li>
        <li
          class="flex justify-between items-center border-b border-secondary py-2"
        >
          <a href="#kontakt" class="flex justify-between w-full">
            <span>kontakt</span>
            <span>05</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Højre kolonne -->
  <div
    class="relative flex items-center justify-center w-full h-87 bg-secondary"
  >
    <img
      src="/img/Ring.jpg"
      alt="Hånd med ring"
      class="w-4/5 max-w-[500px] h-auto"
    />

    <p
      class="absolute top-4 text-secondary text-[8px] text-center font-normal md:text-5xl"
    >
      MALOU MAURITZEN
    </p>
    <hr
      class="absolute left-1/2 top-7 -translate-x-1/2 w-18 h-0.5 bg-primary"
    />
  </div>
</section>
