<section>
  <div class="flex justify-between items-start w-full px-4">
    <h2 class="text-[65px] font-sans font-normal leading-none pt-8">03</h2>
    <h2 class="text-[30px] font-sans font-normal leading-none pt-11">
      it kompetencer
    </h2>
  </div>

  <div class="px-4 my-10">
    <!-- FIGMA -->
    <ul>
      <!-- Én skill -->
      <li class="flex items-center gap-15 pb-2">
        <span class="text-base w-20">Figma</span>
        <div class="flex gap-2">
          <!-- Fyldt cirkel -->
          <div class="w-3 h-3 rounded-full bg-secondary"></div>
          <div class="w-3 h-3 rounded-full bg-secondary"></div>
          <div class="w-3 h-3 rounded-full bg-secondary"></div>
          <div class="w-3 h-3 rounded-full bg-secondary"></div>

          <!-- Tom cirkel -->
          <div class="w-3 h-3 rounded-full border-1 border-secondary"></div>
        </div>
      </li>

      <!-- INDESIGN -->
      <!-- Én skill -->
      <li class="flex items-center gap-15 pb-2">
        <span class="text-base w-20">InDesign</span>
        <div class="flex gap-2">
          <!-- Fyldt cirkel -->
          <div class="w-3 h-3 rounded-full bg-secondary"></div>
          <div class="w-3 h-3 rounded-full bg-secondary"></div>

          <!-- Halvfyldt cirkel -->
          <div
            class="w-3 h-3 rounded-full border border-secondary relative overflow-hidden"
          >
            <div class="absolute top-0 left-0 w-1/2 h-full bg-secondary"></div>
          </div>

          <!-- Tom cirkel -->
          <div class="w-3 h-3 rounded-full border-1 border-secondary"></div>
          <div class="w-3 h-3 rounded-full border-1 border-secondary"></div>
        </div>
      </li>

      <!-- PHOTOSHOP -->
      <!-- Én skill -->
      <li class="flex items-center gap-15 pb-2">
        <span class="text-base w-20">Photoshop</span>
        <div class="flex gap-2">
          <!-- Fyldt cirkel -->
          <div class="w-3 h-3 rounded-full bg-secondary"></div>
          <div class="w-3 h-3 rounded-full bg-secondary"></div>

          <!-- Halvfyldt cirkel -->

          <!-- Tom cirkel -->
          <div class="w-3 h-3 rounded-full border-1 border-secondary"></div>
          <div class="w-3 h-3 rounded-full border-1 border-secondary"></div>
          <div class="w-3 h-3 rounded-full border-1 border-secondary"></div>
        </div>
      </li>

      <!-- ILLUSTRATOR -->
      <!-- Én skill -->
      <li class="flex items-center gap-15 pb-2">
        <span class="text-base w-20">Illustrator</span>
        <div class="flex gap-2">
          <!-- Fyldt cirkel -->
          <div class="w-3 h-3 rounded-full bg-secondary"></div>
          <div class="w-3 h-3 rounded-full bg-secondary"></div>
          <div class="w-3 h-3 rounded-full bg-secondary"></div>

          <!-- Halvfyldt cirkel -->

          <!-- Tom cirkel -->
          <div class="w-3 h-3 rounded-full border-1 border-secondary"></div>
          <div class="w-3 h-3 rounded-full border-1 border-secondary"></div>
        </div>
      </li>

      <!-- HTML -->
      <!-- Én skill -->
      <li class="flex items-center gap-15 pb-2">
        <span class="text-base w-20">HTML</span>
        <div class="flex gap-2">
          <!-- Fyldt cirkel -->
          <div class="w-3 h-3 rounded-full bg-secondary"></div>
          <div class="w-3 h-3 rounded-full bg-secondary"></div>
          <div class="w-3 h-3 rounded-full bg-secondary"></div>
          <div class="w-3 h-3 rounded-full bg-secondary"></div>

          <!-- Halvfyldt cirkel -->
          <div
            class="w-3 h-3 rounded-full border border-secondary relative overflow-hidden"
          >
            <div class="absolute top-0 left-0 w-1/2 h-full bg-secondary"></div>
          </div>

          <!-- Tom cirkel -->
        </div>
      </li>

      <!-- CSS -->
      <!-- Én skill -->
      <li class="flex items-center gap-15 pb-2">
        <span class="text-base w-20">CSS</span>
        <div class="flex gap-2">
          <!-- Fyldt cirkel -->
          <div class="w-3 h-3 rounded-full bg-secondary"></div>
          <div class="w-3 h-3 rounded-full bg-secondary"></div>
          <div class="w-3 h-3 rounded-full bg-secondary"></div>
          <div class="w-3 h-3 rounded-full bg-secondary"></div>

          <!-- Halvfyldt cirkel -->
          <div
            class="w-3 h-3 rounded-full border border-secondary relative overflow-hidden"
          >
            <div class="absolute top-0 left-0 w-1/2 h-full bg-secondary"></div>
          </div>

          <!-- Tom cirkel -->
        </div>
      </li>
    </ul>
  </div>
</section>
