<section class="mt-10">
  <div class="flex justify-between items-start w-full px-4">
    <h2 class="text-[65px] font-sans font-normal leading-none pt-8">05</h2>
    <h2 class="text-[48px] font-sans font-normal leading-none pt-11">
      kontakt
    </h2>
  </div>
</section>
