<section id="kontakt" class="mb-10">
  <div class="flex justify-between items-start w-full px-4 lg:px-6">
    <h2
      class="text-[65px] font-sans font-normal leading-none pt-8 lg:text-[128px]"
    >
      05
    </h2>
    <h2
      class="text-[48px] font-sans font-normal leading-none pt-11 lg:text-[96px]"
    >
      kontakt
    </h2>
  </div>

  <div class="mt-20">
    <img
      src="/img/Spejl.jpg"
      alt="Malou tager et billede i et spejl"
      class="mx-auto w-80 lg:w-140"
    />

    <p class="mt-10 text-center px-10 mx-auto lg:w-130">
      Tak for at kigge med! <br />Hvis du har yderligere spørgsmål, eller ønsker
      at kontakte mig kan du fange mig via nedenstående kontaktoplysninger. <br
      />Jeg glæder mig til at høre fra dig. <br />– Malou Mauritzen
    </p>
  </div>
</section>
