<section id="malou">
  <div class="flex justify-between items-start w-full px-4">
    <h2 class="text-[65px] font-sans font-normal leading-none pt-8">01</h2>
    <h2 class="text-[30px] font-sans font-normal leading-none pt-15">
      malou mauritzen
    </h2>
  </div>

  <div>
    <img
      src="/img/Malou.jpg"
      alt="Billede af Malou"
      class="w-auto h-100 mt-20"
    />
  </div>

  <div class="px-10 mt-10 mb-20 text-sm leading-relaxed">
    <p>
      Hey! <br />Mit navn er Malou, jeg er 23 år og bor på Østerbro. Til daglig
      studerer jeg multimediedesign på Erhvervsakademi København på Nørrebro,
      hvor jeg netop er startet på mit 3. semester. Jeg nyder virkelig min tid
      som studerende – især fordi jeg får lov til at arbejde kreativt og udvikle
      mig hele tiden. <br /><br />Ved siden af mit studie arbejder jeg i
      marketingafdelingen hos gulvfirmaet Dinesen, hvor jeg har været gennem
      hele min studietid. Her hjælper jeg med at holde deres hjemmeside
      opdateret med cases og journals, så nye projekter præsenteres flot og
      passer til Dinesens visuelle stil. Jeg er også med til at lave indhold til
      deres sociale medier – bl.a. Instagram-stories. <br /><br />Jeg elsker at
      arbejde kreativt. Derfor glæder jeg mig også til at kunne tage mine
      erfaringer med ind i et praktikforløb, hvor jeg kan lære endnu mere og få
      lov til at prøve kræfter med nye udfordringer.
    </p>
  </div>
</section>
