<a
  href="#top"
  class="fixed right-[-25px] lg:right-[-30px] top-40px lg:top-1/2 -translate-y-1/2 rotate-90 px-4 py-2 z-50 text-secondary mix-blend-overlay text-[10px] lg:text-[14px]"
>
  Til toppen
</a>
