---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
const { title } = Astro.props;
---

<html lang="dk">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png" />
    <link rel="stylesheet" href="https://use.typekit.net/azn5qct.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <script
      defer
      src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"
    ></script>
  </head>
  <body>
    <header>
      <Header />
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>
